<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Login.My.MySettings.dbSistemaConnectionString" connectionString="Data Source=MAISTERGARCIA\SQL2008R2;Initial Catalog=dbSistema;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
